#finance-planner-app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#finance-planner-app a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
#finance-planner-app a:hover {
  color: #535bf2;
}

#finance-planner-app body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#finance-planner-app h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#finance-planner-app button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
#finance-planner-app button:hover {
  border-color: #646cff;
}
#finance-planner-app button:focus,
#finance-planner-app button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#finance-planner-app .card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  #finance-planner-app a:hover {
    color: #747bff;
  }
  #finance-planner-app button {
    background-color: #f9f9f9;
  }
}
